{
	"extends": ["eslint:recommended", "plugin:react/recommended"],
	"plugins": ["prettier"],
	"rules": {
		"prettier/prettier": "error",
		"react/no-children-prop": 0
	},
	"parserOptions": {
		"ecmaVersion": 7,
		"sourceType": "module",
		"ecmaFeatures": {
			"jsx": true
		}
	},
	"env": {
		"jest": true,
		"browser": true
	}
}
